*~
build
bin
nbproject
src/*/*.h
src/*/*/*.h
!src/shared/json/*
.idea
.vscode
CMakeFiles/CMakeOutput.log
CMakeFiles/CMakeTmp
CMakeFiles/cmake.check_cache
src/*/CMakeFiles
bin/*/*.h
bin/*.h
src/*.autosave
tstex_modules
save.json